body {
    margin: 0;
    background: url('img/tripletriad-background.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
  
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    height: 1000px;
}

#game-board{
    border: 1px solid blue;
    width: 70%;
    height: 1000px;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
}

/* .box {
    /* border: 1px solid pink; */
    /* display: flex;
    align-items: center;
    justify-content: center;

} */ 

.playerMenu {
    width: 15%;
    border: 1px solid blue;
    height: 1000px;

}

#player1Cards {
    /* border: 1px solid green; */
    display: grid;
    grid-template-rows: 70% 70% 70% 70% 70%;
    grid-template-columns: 50% 50% ;
    height: 250px;
 
 }
    
#player2Cards{
    /* border: 1px solid yellow; */
    display: grid;
    grid-template-rows: 70% 70% 70% 70% 70%;
    grid-template-columns: 50% 50% ;
    height: 250px;
}

.card {
    transform-style: preserve-3d;
    border: 3px solid red;
    background-size: contain;
    background-repeat: no-repeat;
  }

.frontGreen {
    transition: transform 0.6s ease;
    border:5px solid green;
    margin :0 2px 35px 2px;
} 

.frontRed {
    transition: transform 0.6s ease;
    border:5px solid red;
    margin :0 2px 35px 2px;
    
} 

h4 {
    font-size: 50px;
    font-style: italic;
    color: royalblue
}

p{
    
}


.box  {
  border: 2px solid white;
  
  
}

.on-board-cards {
  height: 90%;
  width: 65%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 15%;
}

/*   
  #triple-triad-board {
    background: #dddddd;
    width: 820px;
    height: 540px;
    padding: 70px;
    margin: 0px auto;
    border-radius: 84px;
    box-shadow: inset 0px 0px 20px -6px #615961;
  } */


  
  
  /* .card.turned {
    pointer-events: none;
  }
  
  .card.turned .front {
    transform: rotateY(0deg);
  }
  .card.turned .back {
    transform: rotateY(180deg);
  }
  
 .card .back,
  .card .front {
    width: 71px;
    height: 71px;
    margin: 10px;
    padding: 20px;
    font-size: 64px;
    transition: transform 0.6s ease;
  } 
  
  .card .back {
    background-color: #456783;
  }
  
  .card .front {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(-180deg) translateZ(1px);
    backface-visibility: hidden;
  }
   */

  
  /* h1 {
    color: rgba(215, 40, 40, 0.9);
    font-weight: bolder;
    font-size: 67px;
    text-align: center;
    text-shadow: 0px 0px 20px #969696;
  }
  
  h2 {
    margin-top: 0;
    color: #456783;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    text-shadow: 1px red;
  }
  
  p {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }
   */